Source: cryptsvc
Section: libs
Priority: extra
Maintainer: Jin-Hyung Kim <s11_jh.kim@samsung.com>
Uploaders:
Build-Depends: libssl-dev, debhelper (>=5), dlog-dev
Standards-Version: 0.0.1
Homepage: N/A

Package: libcryptsvc-dev
Section: debug
Architecture: any
Depends: ${misc:Depends}, libcryptsvc-0 (= ${Source-Version}), dlog-dev
Description: dev

Package: libcryptsvc-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dlog-dev
Description: library

